/*contacto*/

@import '../base/variables';
main {
    .contacto-div1{
        display: flex;
        align-items: baseline;
        margin-top: 1em;
        border-bottom: 1em solid $color-green-femi;
        margin-bottom: 2%;
    }
    section {
        div {
            .text-contacto{
                color: $color-violet-femi;
                font-family: $font-paragraph;
                font-weight: bold;
            }
            .bg-contacto {
                background-color: $color-green-bg2;
            }
        }
    }
    .div-enviar {
        margin-right: 2%;
        @media screen and (max-width: 480px) {
            .img-enviar {
                width: 70%;
            }
        }
    }
}
