@import '../base/extends';
/*footer*/
footer{
    margin: 3% 3% 1% 3%;
    .footer-text{
        font-weight: bold;
        text-align: center;
    }
    .social-media{
        @extend %flexbox-center;
        margin: 1%;
        .logo-social{
            width: 95%;
            &:hover{               
            transform: scale(1.1);
            transition: all 1s;
            }
        }
    }
    
    /*Footer mobile*/
    @media screen and (max-width: 480px) {
        .footer-text{
            font-size: 13px;
        }
        .footer-dev{
            margin: 4% 0 2% 0;
            font-weight: bold;
            text-align: center;
            font-size: 13px;
        }
        .logo-social{
            width: 70%;
        }
    }

    /*Footer: tablet*/
    @media screen and (min-width: 481px) and (max-width: 980px){
        .logo-social{
            width: 85%;
        }
    }  
}

.footer-dev{
    margin-bottom: 1%;
    margin-right: 1%;
    font-weight: bold;
    text-align: end;
}

.footer-dev>.heart{
    display: inline-flex;
    animation-name: beatHeart;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}
@keyframes beatHeart {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    40% {
      transform: scale(1);
    }
    60% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}