@import '../base/variables';

main{
    .index-section{
        background-color: $color-lilac-background;
        padding: 2% 3% 2% 3%;
        margin-bottom: 3%;
        border: 2px dotted $color-violet-femi;
        .index-div{
            .index-heading {
                margin-bottom: 2%;
                text-align: center;
            }
            .index-text {
                text-align: justify ;
            }
        }
    }
    .index-post-images {       
        .row-post{
            div {
                .post-image-a {
                    .post-image{
                        width: 100%;
                        margin-top: 3%;
                        margin-bottom: 3%;
                        &:hover{
                            transform: scale(1.06);
                            transition: all 1s;
                        }
                    }
                }
            }

        }
    }
}